@import "tailwindcss";

@theme {
  --color-cream: #fdfcfb;
  --color-sand: #f5f1e8;
  --color-ink: #1a1a1a;
  --color-mint: #3bba9c;
  --color-mint-hover: #31a589;
  --color-coral: #e85d4a;
  --color-amber: #f9a03f;
  --color-violet: #7c6af7;

  --font-dm: var(--font-dm-sans), sans-serif;
  --font-display: var(--font-instrument-serif), serif;
  --font-poppins: var(--font-poppins), sans-serif;
}